<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
        />
        <title>Lorem ipsum dolor sit.</title>
    </head>
    <body>
        <header></header>
        <aside>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </aside>
        <main>
            <section>
                <article></article>
            </section>
            <section>
                <article></article>
            </section>
            <section>
                <article></article>
            </section>
        </main>
        <footer></footer>
    </body>
</html>
