<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="Laboratory" />
        <meta name="keywords" content="HTML, CSS, JavaScript" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link href="css/app.css" rel="stylesheet" />
        <script type="text/javascript" src="js/app.js"></script>
        <title>Lorem ipsum dolor sit.</title>
    </head>

    <body class="w3-lightgrey">
        <nav>
            <div class="w3-bar w3-green">
                <button class="w3-bar-item w3-button" onclick="w3_open()">
                    &#9776;
                </button>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal w3-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 1</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 2</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 3</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 4</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 5</span>
                </a>
                <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
                    <button class="w3-button" style="padding: 0">
                        <i class="fa-solid fa-flag"></i>
                        <span> language </span>
                        <i class="fa-solid fa-caret-down"></i>
                    </button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button w3-hover-teal"
                            >Link 1</a
                        >
                        <a href="#" class="w3-bar-item w3-button w3-hover-teal"
                            >Link 2</a
                        >
                    </div>
                </div>
            </div>
        </nav>
        <header>
            <div class="w3-center w3-padding w3-teal">
                <h1 style="margin-top: 0">Page A</h1>
            </div>
        </header>
        <!-- Sidebar -->
        <main>
            <aside>
                <div
                    class="w3-sidebar w3-bar-block w3-card w3-animate-left"
                    style="display: none; top: 0"
                    id="mySidebar"
                >
                    <button
                        class="w3-bar-item w3-button w3-large w3-center"
                        onclick="w3_close()"
                    >
                        &times;
                    </button>

                    <a
                        href="/"
                        class="w3-bar-item w3-button w3-center w3-hover-none"
                    >
                        <img
                            class="w3-large w3-mobile"
                            src="/images/logo.gif"
                            alt="logo"
                        />
                    </a>
                    <a href="#" class="w3-bar-item w3-button">
                        <i class="fa-solid fa-bread-slice"></i>
                        <span>Link 1</span>
                    </a>
                    <a href="#" class="w3-bar-item w3-button">
                        <i class="fa-solid fa-bread-slice"></i>
                        <span>Link 2</span>
                    </a>
                    <a href="#" class="w3-bar-item w3-button">
                        <i class="fa-solid fa-bread-slice"></i>
                        <span>Link 3</span>
                    </a>
                </div>
            </aside>
            <!-- Overlay -->
            <div
                class="w3-overlay"
                onclick="w3_close()"
                style="cursor: pointer"
                id="myOverlay"
            ></div>
            <div id="main" class="w3-container">
                <section>
                    <article>
                        <div class="w3-row w3-margin">
                            <header>
                                <p class="w3-row w3-padding w3-blue-grey">
                                    Introduction Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Accusamus odio
                                    fugiat perspiciatis. Natus dolores libero
                                    recusandae saepe et nostrum aut sequi
                                    voluptatum nulla. Nulla, rem recusandae
                                    eaque quasi vitae perspiciatis sequi
                                    reiciendis beatae voluptatem minus unde enim
                                    maxime et dolorum eos adipisci a soluta
                                    corrupti blanditiis. Possimus eveniet ab
                                    suscipit sunt! Voluptate consequatur
                                    nesciunt dolore! Nemo ipsum facere
                                    consectetur sunt molestiae eligendi officia
                                    exercitationem quas at, numquam placeat
                                    asperiores modi, perspiciatis explicabo
                                    officiis rerum. Perspiciatis provident
                                    quidem tempore accusamus exercitationem eum
                                    architecto iste! Iure, ea nobis fugiat iste
                                    ratione totam magnam est quibusdam? Natus
                                    facilis quasi voluptatum et harum incidunt.
                                </p>
                            </header>
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Facilis doloremque voluptatem
                                nobis hic quisquam ullam possimus vel soluta
                                quasi corrupti, magni, voluptatibus repellendus
                                culpa? Ea itaque temporibus quia voluptatum unde
                                enim natus deserunt exercitationem cupiditate
                                laborum. Reiciendis molestias aut sapiente
                                ipsam, fuga quia ullam assumenda! Dolor nam
                                vitae ullam eos quibusdam, porro omnis. Maiores
                                dicta nemo provident magnam. Aspernatur magnam
                                illum, alias harum dolor voluptates omnis totam
                                praesentium odit, enim eos iusto accusantium vel
                                dignissimos placeat eaque magni maxime vitae a
                                assumenda hic et consectetur voluptatem tenetur!
                                Eius ipsum ea officiis laboriosam animi ipsa
                                harum dolores? Corrupti nostrum cupiditate unde
                                repellendus optio sapiente odit ipsum at
                                similique dolorum, obcaecati placeat neque
                                fugiat! Pariatur dolorum alias dolorem veritatis
                                soluta ipsam aut, sunt, molestiae laborum ipsa
                                velit? Natus, officiis nihil, laudantium aut
                                vitae dolore ea unde modi perspiciatis aliquid
                                aliquam illum tenetur vel! Ab sapiente
                                asperiores officiis, minus magni recusandae
                                explicabo dolorem quo fuga iusto, facere ullam
                                amet temporibus eum nam provident alias? Odio
                                inventore sed cum mollitia alias eos dolores,
                                animi consequatur deleniti pariatur soluta
                                voluptatum nesciunt consequuntur illum adipisci
                                culpa praesentium necessitatibus dolorum
                                doloremque a accusamus? Numquam reiciendis natus
                                culpa assumenda ex ut maiores, placeat
                                perspiciatis error, qui soluta minima.
                            </p>
                            <footer>
                                <p class="w3-row w3-padding w3-teal">
                                    Conclusion Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Error
                                    reiciendis et non, eius unde nostrum
                                    delectus molestiae suscipit temporibus neque
                                    veniam architecto laudantium sit vero
                                    eligendi amet expedita inventore ratione
                                    nihil tenetur? Voluptates laborum ducimus
                                    sint explicabo sit quisquam soluta
                                    doloribus, dolores, aliquid, dolore minima
                                    tempore aliquam? Repellat, iure quisquam?
                                </p>
                            </footer>
                        </div>
                    </article>
                </section>
            </div>
        </main>
        <footer class="w3-margin-top">
            <div class="w3-cell w3-mobile-row">
                <div class="w3-container w3-dark-grey w3-cell w3-mobile">
                    <article>
                        <h2 class="w3-text-light-blue w3-center">
                            Footer Title
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Consectetur ipsa at delectus sed, aspernatur
                            asperiores molestiae nulla maxime laborum nemo.
                        </p>
                    </article>
                </div>
                <div class="w3-container w3-black w3-cell w3-mobile">
                    <article>
                        <h2 class="w3-text-teal w3-center">Footer Title</h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Consectetur ipsa at delectus sed, aspernatur
                            asperiores molestiae nulla maxime laborum nemo.
                        </p>
                    </article>
                </div>
                <div class="w3-container w3-dark-grey w3-cell w3-mobile">
                    <article>
                        <h2 class="w3-text-light-blue w3-center">
                            Footer Title
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Consectetur ipsa at delectus sed, aspernatur
                            asperiores molestiae nulla maxime laborum nemo.
                        </p>
                    </article>
                </div>
                <div class="w3-dark-grey w3-row w3-mobile w3-center">
                    <p class="w3-black" style="margin: 0">
                        All rights reserved for Majhoolsoft © 2022
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
