<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
        />
        <title></title>
    </head>
    <body class="w3-lightgrey">
        <nav></nav>
        <header>
            <h1></h1>
        </header>
        <main>
            <aside></aside>
            <section>
                <h2></h2>
                <article></article>
            </section>
            <section>
                <h2></h2>
                <article></article>
            </section>
            <section>
                <h2></h2>
                <article></article>
            </section>
        </main>
        <footer>
            <h3></h3>
        </footer>
    </body>
</html>
