<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="./css/style.css" />
        <script src="./js/index.js"></script>
        <title>Post</title>
    </head>
    <body class="w3-lightgrey">
        <nav>
            <div class="w3-bar w3-green">
                <button class="w3-bar-item w3-button" onclick="w3_open()">
                    &#9776;
                </button>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal w3-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 1</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 2</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 3</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 4</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 5</span>
                </a>
                <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
                    <button class="w3-button" style="padding: 0">
                        <i class="fa-solid fa-flag"></i>
                        <span> language </span>
                        <i class="fa-solid fa-caret-down"></i>
                    </button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button w3-hover-teal"
                            >Link 1</a
                        >
                        <a href="#" class="w3-bar-item w3-button w3-hover-teal"
                            >Link 2</a
                        >
                    </div>
                </div>
            </div>
        </nav>
        <header>
            <div class="header w3-center w3-teal">
                <h1>
                    <img
                        src="https://www.w3schools.com/w3css/img_nature_wide.jpg"
                        alt="test"
                        class="header__image w3-round w3-left w3-margin"
                    />
                    <span class="w3-left w3-margin">
                        Lorem ipsum dolor sit amet.
                    </span>
                </h1>
            </div>
        </header>
        <main>
            <aside></aside>
            <section>
                <div class="w3-container">
                    <h2></h2>
                    <article>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Veniam iste dolor saepe repellat magni,
                            accusantium doloremque officiis enim cupiditate
                            alias placeat, maiores, sequi unde nostrum! Rerum
                            atque aliquid quia nobis sequi quasi, ad neque
                            veniam impedit sunt nulla minus at, voluptate
                            blanditiis dicta eaque sapiente. Veritatis pariatur
                            sed unde ut!
                            <img
                                src="https://www.w3schools.com/w3css/img_nature_wide.jpg"
                                alt="test"
                            />
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Deserunt perferendis, maxime cum consectetur
                            quas ducimus aspernatur labore nostrum ipsam
                            reprehenderit inventore quidem aperiam fugiat nulla
                            nesciunt eveniet, deleniti debitis dolor!

                            <img
                                src="https://www.w3schools.com/w3css/img_nature_wide.jpg"
                                alt="test"
                            />
                        </p>
                    </article>
                </div>
            </section>
        </main>
        <footer>
            <h3></h3>
        </footer>
    </body>
</html>
