<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/css/app.css" />
        <script src="/js/app.js"></script>
        <title>Posts</title>
    </head>
    <body class="w3-lightgrey">
        <nav>
            <div class="w3-bar w3-green">
                <button class="w3-bar-item w3-button" onclick="w3_open()">
                    &#9776;
                </button>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal w3-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 1</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 2</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 3</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 4</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 5</span>
                </a>
                <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
                    <button class="w3-button" style="padding: 0">
                        <i class="fa-solid fa-flag"></i>
                        <span> language </span>
                        <i class="fa-solid fa-caret-down"></i>
                    </button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button w3-hover-teal"
                            >Link 1</a
                        >
                        <a href="#" class="w3-bar-item w3-button w3-hover-teal"
                            >Link 2</a
                        >
                    </div>
                </div>
            </div>
        </nav>
        <header>
            <div class="w3-center w3-padding w3-teal">
                <h1 style="margin-top: 0">Posts</h1>
            </div>
        </header>
        <main>
            <aside></aside>
            <article class="w3-container">
                <section>
                    <div class="w3-card-4 w3-animate-left">
                        <header class="w3-container w3-light-grey w3-padding">
                            <div class="w3-container w3-cell w3-margin">
                                <img
                                    src="https://www.w3schools.com/w3css/img_nature_wide.jpg"
                                    alt=""
                                    class="w3-round-large posts__thumbnail"
                                />
                            </div>
                            <div
                                class="w3-container w3-cell w3-margin w3-animate-opacity"
                            >
                                <h2>
                                    Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Tenetur, pariatur.
                                </h2>
                                <hr />
                                <p>category</p>
                            </div>
                        </header>
                        <div class="w3-container w3-padding">
                            <p class="w3-margin">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Aliquam deleniti fuga
                                explicabo repudiandae debitis provident fugit
                                dolorum ex libero cumque!
                            </p>
                        </div>
                        <button class="w3-bar w3-button w3-teal">more</button>
                    </div>
                </section>
                <section>
                    <div class="w3-card-4 w3-animate-left">
                        <header class="w3-container w3-light-grey w3-padding">
                            <div class="w3-container w3-cell w3-margin">
                                <img
                                    src="https://www.w3schools.com/w3css/img_nature_wide.jpg"
                                    alt=""
                                    class="w3-round-large posts__thumbnail"
                                />
                            </div>
                            <div
                                class="w3-container w3-cell w3-margin w3-animate-opacity"
                            >
                                <h2>
                                    Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Tenetur, pariatur.
                                </h2>
                                <hr />
                                <p>category</p>
                            </div>
                        </header>
                        <div class="w3-container w3-padding">
                            <p class="w3-margin">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Aliquam deleniti fuga
                                explicabo repudiandae debitis provident fugit
                                dolorum ex libero cumque!
                            </p>
                        </div>
                        <button class="w3-bar w3-button w3-teal">more</button>
                    </div>
                </section>
                <section>
                    <div class="w3-card-4 w3-animate-left">
                        <header class="w3-container w3-light-grey w3-padding">
                            <div class="w3-container w3-cell w3-margin">
                                <img
                                    src="https://www.w3schools.com/w3css/img_nature_wide.jpg"
                                    alt=""
                                    class="w3-round-large posts__thumbnail"
                                />
                            </div>
                            <div
                                class="w3-container w3-cell w3-margin w3-animate-opacity"
                            >
                                <h2>
                                    Lorem ipsum dolor sit amet consectetur,
                                    adipisicing elit. Tenetur, pariatur.
                                </h2>
                                <hr />
                                <p>category</p>
                            </div>
                        </header>
                        <div class="w3-container w3-padding">
                            <p class="w3-margin">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Aliquam deleniti fuga
                                explicabo repudiandae debitis provident fugit
                                dolorum ex libero cumque! Lorem ipsum dolor sit
                                amet. Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Quis, eveniet.
                            </p>
                        </div>
                        <button class="w3-bar w3-button w3-teal">more</button>
                    </div>
                </section>
            </article>
        </main>
        <footer class="w3-margin-top">
            <div class="w3-cell w3-mobile-row">
                <div class="w3-container w3-dark-grey w3-cell w3-mobile">
                    <article>
                        <h2 class="w3-text-light-blue w3-center">
                            Footer Title
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Consectetur ipsa at delectus sed, aspernatur
                            asperiores molestiae nulla maxime laborum nemo.
                        </p>
                    </article>
                </div>
                <div class="w3-container w3-black w3-cell w3-mobile">
                    <article>
                        <h2 class="w3-text-teal w3-center">Footer Title</h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Consectetur ipsa at delectus sed, aspernatur
                            asperiores molestiae nulla maxime laborum nemo.
                        </p>
                    </article>
                </div>
                <div class="w3-container w3-dark-grey w3-cell w3-mobile">
                    <article>
                        <h2 class="w3-text-light-blue w3-center">
                            Footer Title
                        </h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing
                            elit. Consectetur ipsa at delectus sed, aspernatur
                            asperiores molestiae nulla maxime laborum nemo.
                        </p>
                    </article>
                </div>
                <div class="w3-dark-grey w3-row w3-mobile w3-center">
                    <p class="w3-black w3-padding" style="margin: 0">
                        All rights reserved for Majhoolsoft © 2022
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
<script>
    ScrollOut();
</script>
