<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" href="/css/app.css" />
        <script src="/js/app.js"></script>
        <title>Posts</title>
    </head>
    <body class="w3-lightgrey">
        <nav>
            <div class="w3-bar w3-green">
                <button class="w3-bar-item w3-button" onclick="w3_open()">
                    &#9776;
                </button>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal w3-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 1</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 2</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 3</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 4</span>
                </a>
                <a href="#" class="w3-bar-item w3-button w3-hover-teal">
                    <i class="fa-solid fa-bread-slice"></i>
                    <span>Link 5</span>
                </a>
                <div class="w3-bar-item w3-dropdown-hover w3-hover-teal">
                    <button class="w3-button" style="padding: 0">
                        <i class="fa-solid fa-flag"></i>
                        <span> language </span>
                        <i class="fa-solid fa-caret-down"></i>
                    </button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4">
                        <a href="#" class="w3-bar-item w3-button w3-hover-teal"
                            >Link 1</a
                        >
                        <a href="#" class="w3-bar-item w3-button w3-hover-teal"
                            >Link 2</a
                        >
                    </div>
                </div>
            </div>
        </nav>
        <header></header>
        <main>
            <aside></aside>
            <article class="w3-container">
                <section>
                    <div class="w3-card-4">
                        <header class="w3-container w3-teal">
                            <h1 class="w3-center">Header</h1>
                        </header>
                        <div class="w3-container w3-padding" style="width: 75%">
                            <img
                                src="https://www.w3schools.com/w3css/img_nature_wide.jpg"
                                alt=""
                                class="w3-round w3-margin"
                            />
                            <p class="w3-margin">
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Sed soluta necessitatibus nisi
                                autem a facere nemo quia dolorum, distinctio
                                error reprehenderit tenetur reiciendis. Soluta
                                vel similique ex quae ducimus odio tempore
                                debitis, assumenda possimus ipsum eaque
                                suscipit, dicta placeat! Deleniti excepturi
                                aliquam culpa odio provident, veniam tempora
                                iusto a omnis? Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Voluptatem eveniet
                                minima suscipit. Amet aspernatur eius suscipit
                                enim impedit velit modi ducimus minima fuga,
                                necessitatibus quod quibusdam optio culpa
                                mollitia error numquam vero consequuntur ipsa
                                quos itaque expedita. Deleniti unde temporibus
                                quam. Voluptates, aut sequi? Consectetur atque
                                architecto perspiciatis enim illum? Lorem ipsum
                                dolor sit, amet consectetur adipisicing elit.
                                Sunt odit dolorum magni aliquid id deserunt
                                maiores veritatis voluptate! Voluptatum sapiente
                                suscipit fuga omnis commodi quam explicabo
                                impedit quasi reiciendis, molestias rem animi
                                sunt mollitia autem quo? Molestiae ullam maiores
                                autem. Lorem ipsum dolor sit, amet consectetur
                                adipisicing elit. Ratione repellendus ab
                                corporis, ex quisquam ea fuga temporibus
                                accusamus, perspiciatis harum quos? Ad
                                laudantium dicta adipisci accusantium molestias?
                                Dolores optio commodi eveniet nobis tempora
                                aperiam autem expedita debitis sunt, tenetur
                                minus rerum et quidem sit officiis nisi
                                accusamus, animi excepturi voluptas. Cupiditate
                                cumque quo harum sit consectetur vel illo
                                numquam nisi?
                            </p>
                        </div>
                        <footer class="w3-container w3-light-grey">
                            <h5 class="w3-tag w3-teal w3-round">keywords</h5>
                            <h5 class="w3-tag w3-teal w3-round">keywords</h5>
                            <h5 class="w3-tag w3-teal w3-round">keywords</h5>
                            <h5 class="w3-tag w3-teal w3-round">keywords</h5>
                            <h5 class="w3-tag w3-teal w3-round">keywords</h5>
                        </footer>
                    </div>
                </section>
            </article>
        </main>
        <footer>
            <h3></h3>
        </footer>
    </body>
</html>
<script>
    ScrollOut();
</script>
